header{
    display: flex;
    justify-content: center;
}
.intro{
    display: flex;
    justify-content: center;
    width: 60vw;
}

.letters {
    display: none;
}

.answeredLetters {
    display: grid;
    grid-auto-flow: column;
    width: 80vw;
    text-align: center;
}

.letterInput, .letterButton{
    display: none;
}

.yl{
    display: none;
}